<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Website</title>
    </head>
    <body>
        {{> header}}
        <p>These are some Github projects</p>
        {{> footer}}
    </body>
</html>